@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@font-face {
  font-family: 'Game of Thrones';
  font-style: normal;
  src: local('Game of Thrones'), local('Game of Thrones'),
    url('./fonts/Game of Thrones.ttf') format('ttf'), 
}

.App-start {
  width: 100%;
  font-family: "Didact Gothic", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Didact Gothic", "Game of Thrones", "Prata" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

html {
  min-height: 100%;
  background: linear-gradient(0deg, #1e3032 19.84%, #374c4f 71.64%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: flex;
  justify-content: center;
}

.border {
  width: 100%;
  height: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
}

.border-arthur {
  margin: 40px 100px 50px 100px;
  text-align: center;
  border: 1px solid white;
  background-image: url(../src/components/assets/Slottsskogen-big-in-assets.svg);
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

/* .header {
	background: linear-gradient(179.89deg, #374C4F 0.99%, #5D767B 133.08%);
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	font-family: 'Didact Gothic';
	color: #D39933;
} */

/* ul {
	display: flex;
	justify-content: center;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #2B4045;
	border: 2.5px solid #ECAE59;
	border-left: 0px;
	border-right: 0px;
} */

ul {
  list-style-type: none;
}

li a,
.dropbtn {
  display: inline-block;
  color: #ecae59;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  color: #ffdeb2;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  background-image: url(../src/components/assets/cool-menu.svg);
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  transform: translate(-23px, 0);
  width: 150px;
  height: 190px;
  z-index: 1;
  color: #ecae59;
  padding-top: 0.5px;
  margin-top: -1px;
  font-family: "Didact Gothic", sans-serif;
}

.dropdown-content div {
  position: relative;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "Didact Gothic", sans-serif;
  margin-left: -13px;
  margin-top: 16px;
  text-align: center;
}

.dropdown-content :hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 500px) {
  ul {
    float: none;
    display: block;
    text-align: left;
  }
}

/* CSS för världarna*/

.character-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 280px;
}

.persons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
}

img {
  position: relative;
  margin-left: 1em;
}

.p1 {
  text-align: justify;
  font-size: larger;
  font-family: "Didact Gothic";
  color: #e8e8e8;
}

.h1 {
  color: #e8e8e8;
  font-family: "Game of Thrones";
}

.h2 {
  color: #e8e8e8;
  font-family: "Game of Thrones";
}

.font-add {
  font-family: "Roboto";
  font-size: 1.13em;
}

.font-add-big {
  font-family: "Roboto";
  font-size: 1.7em;
  font-weight: 100;
}

@media screen and (max-width: 1000px) {
  .persons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
  }
}

@media screen and (max-width: 700px) {
  .persons {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3em;
  }
}
